[Unit]
Description=Progress Quest CLI (curses) in tmux
After=network.target

[Service]
Environment=TERM=tmux-256color
Environment=HOME=$HOME

ExecStart=/usr/bin/tmux new-session -s pqcli -d '$HOME/.local/bin/pqcli --load-save 1'

# If pqcli crashes, restart tmux (restarting pqcli)
Restart=always
RestartSec=2

# Prevent systemd from killing tmux
KillMode=process

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
