body {
  background-color: black;
  padding-top: 2.5%;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:ghostwhite;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}

.column {
  flex: 0 0 33.333%;
  padding: 5px;
  padding-top: 1%;
  border-width: 2px;
  border-color: white;
}

table {
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 2%;
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}

table td {
  width: 50%;
  border-style: solid;
  border-width: 1px;
}

table td:nth-child(1) {
  text-align: left;
  font-style: italic;
}

table td:nth-child(2) {
  text-align: end;
}

table th {
  text-align: center;
}

.row#current-task {
  align-items: center;
  justify-content: center;
  text-align: left;
}

.row#current-task table {
  padding-top: 1%;
  border-style: hidden;
}
