:root {
  --text-colour: #F1E5FF;
  --table-bg-colour: #4B2C57;
  --table-border-colour: #C2D4E6;
  --background-colour: #2E2A6D;
}

body {
  background-color: var(--background-colour);
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-colour);
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 15%;
  width: 100%;
  align-items: stretch;
}

.column {
  flex: 0 0 33.333%;
  min-width: 0;
  padding: 5px;
  padding-top: 1%;
  border-width: 2px;
  border-color: var(--table-border-colour);

  display: flex;
  flex-direction: column;
}

.table-wrapper {
  flex: 1;
  border-style: solid;
  border-color: var(--table-border-colour);
  border-width: 3px;
  border-radius: 2%;
  background-color: var(--table-bg-colour);
  padding: 6px;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--table-bg-colour);
  display: table;
  table-layout: fixed;
  height: auto;
  align-items: stretch;
}

table tbody {
  display: table;
  width: 100%;
  height: 100%;
  padding-inline: 5%;
  padding-bottom: 4%;
  padding-top: 2%;
}

table tr {
  height: auto;
}

table td {
  width: 50%;
  vertical-align: top;
  justify-content: flex-start;
}

table td:nth-child(1) {
  text-align: left;
  font-style: italic;
}

table td:nth-child(2) {
  text-align: end;
}

table th {
  text-align: center;
}

.column#current-task {
  text-align: center;
  align-items: stretch;
  padding-top: 0.5%;
}
